/*------Lupa de ayuda------*/
.div__img
{
position: relative;
}
.img__ayuda{
    width: 35px;
    position: fixed;
    left: 97.2%;
    top: 93.2%;
    opacity: 60%;
    transition:0.2s;
}
.img__ayuda:hover{
    width: 40px;
    opacity: 100%;
    left: 97%;
    top: 93%;
    transform: rotate(-5deg);
    
}

/*--------Main--------*/

.main_footer{
    background-color:#333333;
    height: 100vh;;
    max-height: 118px;
    padding: 0;
    margin:0;
    
 }

 .main_footer_tabla{
    display: inline-block;
    list-style-type: none;
    color: white;
    
    padding: 0;
    margin: 15px;
  
 }


 .main-alerta-sweet-div{
    width: 100%;
    height: 50%;
    border: solid 2px red;
    position: absolute;
    top: 0;
 }

.main-alerta-sweet-span{

border: solid 2px black;

 }
 .swal2-container{
    position: absolute ;
    
 }
    
/*--------Ayuda--------*/
.ayuda_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayuda_footer_div1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ayuda_footer_div2{
    
    display: flex;
    flex-direction: row;
    align-items: center;

}

.ayuda_footer_a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 1px;
}
.ayuda_footer_lblAyuda{
    margin-left: 1px;
    font-size: 20px;
}
.ayuda_footer_lblEncabe{
    font-size: 22px;
}
.card{
    margin-left: 10px;
}

